@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  background-color: #bb2339;
  padding-top: 26px;
  padding-bottom: 27px;
}

.main_header__btn {
  padding-right: 200px;
}

header {
  padding-bottom: 0;
  margin-bottom: 0;
}

.navbar-toggler {
  display: none;
}

.main_header__link {
  text-decoration: none;
  margin-left: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
}

.main_header__link:hover {
  margin-top: 10px;
  transform: scale(1.1);
  transition: 0.7s;
}

.offcanvas-header {
  background-color: #bb2339;
}

.nav-link {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 10px;
}

.nav-link:hover {
  transform: scale(1.2);
  transition: 0.5s;
  margin-top: 10px;
}

.offcanvas-body {
  background-color: #bb2339;
}

.main_header__btn {
  text-decoration: none;
  padding: 10px 40px;
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  margin-left: 20px;
  border-radius: 100px;
  border: 1px solid #fff;
}

@media screen and (max-width: 1000px) {
  .navbar-toggler {
    display: inline-block;
  }
  .main__header__item {
    display: none;
  }
  .main_header__link {
    margin-right: 20px;
  }
}
@media screen and (max-width: 560px) {
  .navbar-toggler {
    margin-left: 20px;
  }
}
.hero__container {
  background-color: #fff;
}

.hero__pages {
  color: #b0b0b0;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 500;
  letter-spacing: 0.42px;
  margin-top: 20px;
  text-transform: capitalize;
}

.hero__text {
  color: #b0b0b0;
  font-size: 14px;
  font-family: Open Sans;
  letter-spacing: 0.42px;
  text-transform: capitalize;
  margin-top: 70px;
  margin-bottom: 70px;
}

.hero__word {
  color: #bb2339;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 500;
  letter-spacing: 0.42px;
  text-transform: capitalize;
}

/*photo*/
#photo {
  padding-top: 120px;
  padding-bottom: 300px;
  overflow: hidden;
}

.photo__container {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.photo__word {
  color: #242424;
  font-size: 23px;
  font-family: "$fonts";
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.photo__title {
  color: #242424;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

.photo__text {
  color: #aaa;
  max-width: 491px;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 175%;
  letter-spacing: 0.64px;
}

.photo__btn {
  color: #242424;
  font-size: 16px;
  text-decoration: none;
  font-family: "$fonts";
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  padding: 8px 32px;
  border-radius: 100px;
  border: 1px solid var(--qizil, #bb2339);
}

.photo__btn:hover {
  background-color: #bb2339;
  color: #fff;
  transition: 0.8s;
}

.photo__img {
  width: 100%;
}

.photo__img1 {
  width: 50px;
}

.photo__content {
  padding-top: 229px;
  padding-bottom: 223px;
  width: 451px;
  flex-shrink: 0;
}

.item {
  max-width: 300px;
}

.item1:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.item2:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.item3:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .photo__container {
    flex-direction: column;
  }
  .photo__content {
    text-align: center;
  }
  .photo__img1 {
    margin-left: auto;
    margin-right: auto;
  }
}
/*footer*/
#main_footer__container {
  padding-top: 341px;
}

.main_footer__subtitle {
  color: #fff;
  font-size: 32px;
  font-family: Cera Round Pro;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.main_footer__sentence {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.64px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.main_footer__phone-number {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.main_footer__logo {
  max-width: 336px;
}

.main_footer__sentence2 {
  color: #fff;
  text-align: center;
  max-width: 438px;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 26px;
  letter-spacing: 0.64px;
  margin-top: 32px;
  margin-bottom: 45px;
}

.main_footer__block {
  display: flex;
  align-items: center;
  margin-left: 160px;
  text-align: center;
  gap: 16px;
}

.main_footer__cont {
  text-align: center;
}

.img_block {
  width: 24px;
  height: 24px;
}

.main_footer__info {
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 175%;
  letter-spacing: 0.64px;
  margin-top: 80px;
}

.main_footer__cont2 {
  text-align: center;
  max-width: 438px;
  margin-right: 190px;
  margin-left: 170px;
  padding-top: 120px;
}

.main_footer__cont3 {
  max-width: 237px;
  text-align: center;
}

.main_footer__sub-title {
  color: #fff;
  font-size: 32px;
  font-family: "$fonts";
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
  margin-left: -40px;
}

.main_foter__worktime {
  color: #fff;
  text-align: center;
  max-width: 154px;
  font-size: 16px;
  font-family: Open Sans;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.main_foter__worktime1 {
  color: #fff;
  text-align: center;
  max-width: 154px;
  font-size: 16px;
  font-family: Open Sans;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.main_footer__content {
  display: flex;
  align-items: center;
  padding-top: 90px;
}

.main_footer__wrapper-text {
  color: var(--ffffff, #fff);
  font-size: 23px;
  font-family: Cera Round Pro;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.main_footer__wrapper-title {
  color: #fff;
  font-size: 48px;
  font-family: "$fonts";
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  margin-top: 25px;
  text-transform: capitalize;
}

.main_footer__wrapper-sentence {
  color: #fff;
  font-size: 16px;
  font-family: Open Sans;
  line-height: 175%;
  letter-spacing: 0.64px;
  margin-bottom: 64px;
  margin-top: 24px;
}

.footer__input {
  color: var(--aaaaaa, #aaa);
  text-align: center;
  font-size: 16px;
  font-family: "inter";
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  background-color: transparent;
  border-radius: 100px;
  padding-right: 400px;
  border: 1px solid rgba(245, 239, 219, 0.5);
}

.main_footer__wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 150px;
  border-radius: 20px;
  margin-top: -240px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: var(--qizil, #bb2339);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
}

.main_footer__wrapper-btn {
  color: #fff;
  font-size: 16px;
  margin-left: 32px;
  font-family: "Inter";
  padding: 12px 32px;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 500;
  text-decoration: none;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.main_footer__logo {
  margin-left: 30px;
}

.main_footer__wrapper-btn:hover {
  background-color: #fff;
  color: #fff;
  transition: 1s;
}

@media screen and (max-width: 1000px) {
  .footer__input {
    max-width: 400px;
  }
  .footer__form {
    flex-direction: column;
  }
  .main_footer__wrapper-btn {
    margin-top: 30px;
    max-width: 400px;
  }
  .main_footer__content {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .footer__input {
    margin-left: -100px;
  }
}
@media screen and (max-width: 510px) {
  .footer__input {
    margin-left: -120px;
  }
}
@media screen and (max-width: 500px) {
  .footer__input {
    margin-left: -148px;
  }
  .main_footer__wrapper-btn {
    margin-left: -20px;
  }
}