html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}



@keyframes ldio-xzmvm3064f {
  0% { transform: scale(1.1500000000000001) }
  100% { transform: scale(1) }
}
.ldio-xzmvm3064f div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 13.333333333333336px;
  left: 13.333333333333336px;
  background: #e15b64;
  animation: ldio-xzmvm3064f 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.3s;
}
.ldio-xzmvm3064f div:nth-child(2) {
  top: 13.333333333333336px;
  left: 106.66666666666666px;
  background: #f47e60;
  animation-delay: -0.2s;
}
.ldio-xzmvm3064f div:nth-child(3) {
  top: 106.66666666666666px;
  left: 13.333333333333336px;
  background: #abbd81;
  animation-delay: 0s;
}
.ldio-xzmvm3064f div:nth-child(4) {
  top: 106.66666666666666px;
  left: 106.66666666666666px;
  background: #f8b26a;
  animation-delay: -0.1s;
}
.loadingio-spinner-cube-kf3988i8swc {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-xzmvm3064f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xzmvm3064f div { box-sizing: content-box; }
